/*Reset CSS & HTML*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Mulish", sans-serif;
  color: #1a1558;
  background-color: #d3d1e7;
}

a {
  text-decoration: none;
}

/*MEDIA QUERIES START*/
nav {
  background-image: linear-gradient(20deg, rgba(89, 63, 169, 0.1), rgba(124, 95, 219, 0.5));
  border-bottom-left-radius: 1rem;
}

.logo {
  width: auto;
  height: 9rem;
}

@media screen and (max-width: 500px) {
  .logo {
    height: auto;
    width: 5rem;
  }
}

.logo-text {
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .logo-text {
    display: none;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 2rem;
  font-weight: 500;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*HEADER END*/
/*FOOTER*/
footer {
  height: 8rem;
  width: 100%;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(20deg, #593fa9, #7c5fdb);
  border-top: solid #9eaecd 1px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: 2;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div p {
  padding-left: 30px;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 500px) {
  footer div p {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  footer div p {
    font-size: 1.6rem;
  }
}

footer img {
  width: auto;
  height: 90px;
  padding-left: 30px;
}

@media screen and (max-width: 500px) {
  footer img {
    height: auto;
    width: 75px;
  }
}

.redes img {
  width: auto;
  height: 35px;
  padding-right: 30px;
}

@media screen and (max-width: 500px) {
  .redes img {
    width: auto;
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

/*FOOTER END*/
/*HERO SECTION START*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.hero__img {
  height: auto;
  width: 500px;
}

@media screen and (max-width: 500px) {
  .hero__img {
    height: auto;
    width: 300px;
    margin-top: 15rem;
    margin-left: 0px;
  }
}

.hero__content__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  margin-top: 2rem;
}

@media screen and (max-width: 500px) {
  .hero__content__title {
    font-size: 2rem;
  }
}

.hero__content__info {
  max-width: 100rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 4rem;
  margin: 2rem;
}

@media screen and (max-width: 500px) {
  .hero__content__info {
    font-size: 1.6rem;
  }
}

.hero__content__button {
  width: 200px;
  margin: 2rem;
  padding: 2rem;
  border-radius: 3rem;
  border: none;
  background-image: linear-gradient(20deg, #593fa9, #7c5fdb);
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.hero__content__button__link {
  color: white;
  font-size: 2rem;
  padding: 1rem;
}

.hero__content__button__link:hover {
  color: white;
}

.hero__content__button:hover {
  width: 250px;
}

.hero div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*HERO SECTION END*/
/* ARTICLE START*/
article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

article div h2 {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 5rem;
}

@media screen and (max-width: 500px) {
  article div h2 {
    font-size: 2rem;
  }
}

article div ol {
  padding: 0rem 0rem 0rem 10rem;
}

@media screen and (max-width: 500px) {
  article div ol {
    padding: 0px;
  }
}

article div ol li {
  text-align: left;
  font-size: 2.3rem;
  font-weight: 300;
  padding: 1.5rem;
}

@media screen and (max-width: 500px) {
  article div ol li {
    font-size: 1.6rem;
    text-align: center;
  }
}

article img {
  height: auto;
  width: 500px;
}

@media screen and (max-width: 500px) {
  article img {
    height: auto;
    width: 300px;
  }
}

/* ARTICLE END*/
/*PAGES: SERVICIOS START*/
.servicios {
  height: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 500px) {
  .servicios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .servicios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80%;
  }
}

.servicios__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  margin-top: 13rem;
}

@media screen and (max-width: 768px) {
  .servicios__title {
    margin-top: 10rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .servicios__title {
    margin-top: 13rem;
    font-size: 2rem;
  }
}

.servicios__info {
  max-width: 100rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 300;
  padding: 5rem 10rem 5rem 10rem;
}

@media screen and (max-width: 500px) {
  .servicios__info {
    font-size: 1.6rem;
    padding: 10px 10px;
  }
}

.servicios__img {
  height: auto;
  width: 500px;
}

@media screen and (max-width: 500px) {
  .servicios__img {
    height: auto;
    width: 100vw;
  }
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: linear-gradient(20deg, rgba(89, 63, 169, 0), rgba(124, 95, 219, 0.2));
  border-radius: 2rem;
}

.box__title {
  font-weight: 600;
  font-size: 3rem;
  margin: 7rem 0rem 3rem 0rem;
}

@media screen and (max-width: 500px) {
  .box__title {
    text-align: center;
    font-size: 2rem;
  }
}

.box__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 90vw;
  margin: 7rem 0rem 7rem 0rem;
}

@media screen and (max-width: 500px) {
  .box__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .box__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

.box__cards__card {
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
  width: 35rem;
  height: 45rem;
  padding: 2rem;
  background-image: linear-gradient(20deg, rgba(89, 63, 169, 0), rgba(124, 95, 219, 0.7));
  border-radius: 1.3rem;
}

@media screen and (max-width: 500px) {
  .box__cards__card {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .box__cards__card {
    margin: 2rem 0rem 0rem 0rem;
  }
}

.box__cards__card__img {
  height: auto;
  width: 85px;
  margin: 0px;
}

.box__cards__card__title {
  margin: 2rem;
}

@media screen and (max-width: 500px) {
  .box__cards__card__title {
    font-size: 2rem;
  }
}

.box__cards__card__info {
  margin: 2rem;
}

@media screen and (max-width: 500px) {
  .box__cards__card__info {
    font-size: 1.6rem;
  }
}

.servicios,
.box-cards {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*TRABAJOS*/
.trabajos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .trabajos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .trabajos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.trabajos__title {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  margin-top: 1rem;
}

@media screen and (max-width: 500px) {
  .trabajos__title {
    font-size: 2rem;
  }
}

.trabajos__img {
  height: 500px;
  width: auto;
}

@media screen and (max-width: 500px) {
  .trabajos__img {
    height: 300px;
    width: auto;
  }
}

.trabajos-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trabajos-info__text {
  max-width: 100rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 300;
  margin: 5rem;
}

@media screen and (max-width: 500px) {
  .trabajos-info__text {
    font-size: 1.6rem;
  }
}

.banner {
  max-width: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.banner__img {
  height: auto;
  width: 300px;
}

.trabajos {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*GALERIA START*/
.galeria {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .galeria {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .galeria {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.galeria div img {
  height: auto;
  width: 500px;
}

@media screen and (max-width: 500px) {
  .galeria div img {
    height: auto;
    width: 300px;
    margin-top: 20rem;
  }
}

.galeria h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  margin-top: 13rem;
}

@media screen and (max-width: 500px) {
  .galeria h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

.galeria p {
  max-width: 100rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 300;
  padding: 5rem 10rem 5rem 10rem;
}

@media screen and (max-width: 500px) {
  .galeria p {
    padding: 0px;
    font-size: 1.6rem;
  }
}

.carousel-galeria {
  height: 100%;
}

.galeria,
.galeria-fotos {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.galeria-height {
  height: 100vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*CONTACTO START*/
.contacto {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacto div img {
  height: auto;
  width: 600px;
}

@media screen and (max-width: 500px) {
  .contacto div img {
    height: auto;
    width: 300px;
  }
}

.contacto h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  margin-top: 13rem;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

@media screen and (max-width: 500px) {
  .contacto h1 {
    margin-top: 20rem;
    font-size: 2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contacto p {
  max-width: 100rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 300;
  padding: 5rem 10rem 5rem 10rem;
}

@media screen and (max-width: 500px) {
  .contacto p {
    padding: 1rem;
    font-size: 1.6rem;
  }
}

.formulario {
  background-image: linear-gradient(20deg, rgba(89, 63, 169, 0), rgba(124, 95, 219, 0.7));
}

.formulario div,
p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.formulario,
div,
p,
input,
label {
  font-size: 2.3rem;
  font-weight: 300;
}

.formulario input,
select {
  background-color: #d3d1e7;
  border: none;
  margin: 0.5rem;
}

.formulario select {
  text-align: center;
  font-size: 2rem;
}

.formulario div button {
  width: 200px;
  margin: 2rem;
  padding: 2rem;
  border-radius: 3rem;
  border: none;
  background-image: linear-gradient(20deg, #593fa9, #7c5fdb);
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.formulario div button:hover {
  width: 250px;
}

.formulario div button a {
  color: white;
  font-size: 2rem;
  padding: 1rem;
}

/*MEDIA QUERIES START*/
/*# sourceMappingURL=style.css.map */