/*GALERIA START*/

.galeria {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  @include tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.galeria div img {
  height: auto;
  width: 100%;
}

.galeria h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  @include mobile {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

.galeria p {
  max-width: 100rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 300;
  padding: 5rem 10rem 5rem 10rem;
  @include mobile {
    padding: 1rem;
    font-size: 1.6rem;
  }
}

.carousel-galeria {
  height: 100%;
}

.galeria,
.galeria-fotos {
  animation: fadeIn 2s;
}

.galeria-height {
  height: 100vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
