/*GALERIA START*/

.galeria {
  height: 100%;
  grid-area: hero;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  @include tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.galeria div img {
  height: auto;
  width: 500px;
  @include mobile {
    height: auto;
    width: 300px;
    margin-top: 20rem;
  }
}

.galeria h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 800;
  margin-top: 13rem;
}

.galeria p {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 300;
  padding: 5rem 10rem 5rem 10rem;
  @include mobile {
    padding: 0px;
  }
}

.carousel-galeria {
  height: 100%;
}

.galeria,
.galeria-fotos {
  animation: fadeIn 2s;
}

.galeria-height {
  height: 100vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
