/*PAGES: SERVICIOS START*/

.servicios {
  height: 45rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  @include mobile {
    flex-direction: column;
    align-items: center;
  }
  @include tablet {
    flex-direction: column;
    align-items: center;
    height: 80%;
  }
  &__title {
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    margin-top: 13rem;
    @include tablet {
      margin-top: 10rem;
      font-size: 2rem;
    }
    @include mobile {
      margin-top: 13rem;
      font-size: 2rem;
    }
  }
  &__info {
    max-width: 100rem;
    text-align: center;
    font-size: $font-size-content;
    font-weight: 300;
    padding: 5rem 10rem 5rem 10rem;
    @include mobile {
      font-size: 1.6rem;
      padding: 10px 10px;
    }
  }
  &__img {
    height: auto;
    width: 500px;
    @include mobile {
      height: auto;
      width: 100vw;
    }
  }
}

.box {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    20deg,
    rgba(89, 63, 169, 0),
    rgba(124, 95, 219, 0.2)
  );
  border-radius: 2rem;
  &__title {
    font-weight: 600;
    font-size: 3rem;
    margin: 7rem 0rem 3rem 0rem;
    @include mobile {
      text-align: center;
      font-size: 2rem;
    }
  }
  &__cards {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    width: 90vw;
    margin: 7rem 0rem 7rem 0rem;
    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100vw;
    }
    @include tablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    &__card {
      font-size: $font-size-content;
      font-weight: 300;
      text-align: center;
      width: 35rem;
      height: 45rem;
      padding: 2rem;
      background-image: linear-gradient(
        20deg,
        rgba(89, 63, 169, 0),
        rgba(124, 95, 219, 0.7)
      );
      border-radius: 1.3rem;
      @include mobile {
        width: 100%;
      }
      @include tablet {
        margin: 2rem 0rem 0rem 0rem;
      }
      &__img {
        height: auto;
        width: 85px;
        margin: 0px;
      }
      &__title {
        margin: 2rem;
        @include mobile {
          font-size: 2rem;
        }
      }
      &__info {
        margin: 2rem;
        @include mobile {
          font-size: 1.6rem;
        }
      }
    }
  }
}

.servicios,
.box-cards {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
