/*TRABAJOS*/

@mixin sizes($width, $height) {
  height: $height;
  width: $width;
}

.trabajos {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  @include tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    margin-top: 1rem;
    @include mobile {
      font-size: 2rem;
    }
  }
  &__img {
    height: auto;
    width: 100%;
  }
}

.trabajos-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text {
    max-width: 100rem;
    text-align: center;
    font-size: $font-size-content;
    font-weight: 300;
    margin: 5rem;
    @include mobile {
      font-size: 1.6rem;
    }
  }
}

/*Contenido, estilos y boton del banner en trabajos*/

.banner {
  max-width: 100rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__img {
    height: 500px;
    width: auto;
  }
}

.banner h2 {
  margin: 2rem 2rem;
}

.trabajos {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
