/*Reset CSS & HTML*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Mulish", sans-serif;
  color: $text-color;
  background-color: rgb(211, 209, 231);
}

a {
  text-decoration: none;
}
